@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --spacing-xs: 0.5rem;   /* 8px */
  --spacing-s: 0.75rem;   /* 12px */
  --spacing-m: 1rem;      /* 16px */
  --spacing-l: 1.5rem;    /* 24px */
  --spacing-xl: 2rem;     /* 32px */
  --spacing-2xl: 2.5rem;  /* 40px */
  --spacing-3xl: 3rem;    /* 48px */
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}